faiss-cpu==1.7.4
fasttext ==0.9.3
tqdm==4.66.2
numpy==1.26.4
scikit-learn==1.4.2
crawl4ai==0.4.248
pymupdf
python-docx
pandas
playwright
pinecone
sentence-transformers
pyvi
pytesseract-0.3.13
pdf2image-1.17.0
langdetect = = 1.0.9